﻿@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
html {
  background-color: #446;
}

body {
  margin: 0;
  color: #ffe;
  background-color: #446;
  background: rgba(0,0,0,0);
  text-align: center;
}

.container {
  font: 0/1 'Oswald', sans-serif;
  margin: 0 auto;
  padding: 20px 5px;
}

h1 {
  font: 0/1 "Ribeye Marrow", cursive;
  margin: 0 5px 15px;
  font-size: 45px;
  line-height: 1.2;
  color:navy;
}

  h1.shadow {
    text-shadow: 0 0 20px #000;
    color: revert;
  }

.webgl {
  color: #4ee;
}

input {
  position: absolute;
  left: -9999px;
}

label {
  display: inline-block;
  position: relative;
  width: 150px;
  margin: 5px;
  padding: 10px 10px 10px 38px;
  background-color: #000;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
}

  label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    background-color: #444;
    border-radius: 10px;
  }

  label:hover {
    color: #ef4
  }

input:focus + label {
  outline: 1px solid #fff;
}

input:checked + label::before {
  background-color: #F00;
}

/* width is controlled here and in media queries to ensure that there's always an even number of columns (prevents orphans) */
.projects {
  display: inline-block;
  width: 240px;
  list-style-type: none;
  margin: 15px -5px 0;
  padding: 0;
}

  .projects p {
    position: absolute;
    /*z-index: 2;*/
    top: 170px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 4px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    font-weight: normal;
  }

  .projects div {
    display: none;
    position: relative;
    margin: 10px;
    padding: 0;
  }

  .projects h2 {
    position: absolute;
    /*z-index: 2;*/
    bottom: 10px;
    width: 90%;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 4px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #000;
    font-size: 14px;
    font-weight: normal;
  }

  .projects img {
    width: 200px;
    height: 300px;
    border: 4px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 20px #000;
    opacity: .25;
    transform: scale(.5);
  }

.flange:hover img {
  border: 4px solid #ccc;
}
.flange:hover h2 {
  border: 1px solid #ccc;
  color: #ccc;
  /*background-color: #df0;*/
}

#all:checked ~ .projects [data-projects~="all"],
#wip:checked ~ .projects [data-projects~="wip"],
#experimental:checked ~ .projects [data-projects~="experimental"],
#webgl:checked ~ .projects [data-projects~="webgl"],
#threejs:checked ~ .projects [data-projects~="threejs"],
#unity:checked ~ .projects [data-projects~="unity"],
#playcanvas:checked ~ .projects [data-projects~="playcanvas"],
#babylonjs:checked ~ .projects [data-projects~="babylonjs"] {
  display: inline-block;
}

  #all:checked ~ .projects [data-projects~="all"] img,
  #wip:checked ~ .projects [data-projects~="wip"] img,
  #experimental:checked ~ .projects [data-projects~="experimental"] img,
  #webgl:checked ~ .projects [data-projects~="webgl"] img,
  #threejs:checked ~ .projects [data-projects~="threejs"] img,
  #unity:checked ~ .projects [data-projects~="unity"] img,
  #playcanvas:checked ~ .projects [data-projects~="playcanvas"] img,
  #babylonjs:checked ~ .projects [data-projects~="babylonjs"] img {
    animation: avatar .1s forwards;
  }

/* fade in and expand image to full size, with a slight bounce */
@keyframes avatar {
  70% {
    opacity: 0.7;
    transform: scale(1.025);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media only screen and (min-width: 500px) {
  .projects {
    width: 480px;
  }
}

@media only screen and (min-width: 740px) {
  .projects {
    width: 720px;
  }

  h1 {
    font-size: 60px;
  }
}

@media only screen and (min-width: 980px) {
  .projects {
    width: 960px;
  }
}

@media only screen and (min-width: 1220px) {
  .projects {
    width: 1200px;
  }
}

iframe {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  pointer-events: auto;
  border: none;
}

footer {
  font: 0/1 'Oswald', sans-serif;
  position: absolute;
  bottom: 0;
  display: table-cell;
  width: 100%;
  font-size: 1.5em;
  text-align: right;
  vertical-align: bottom;
}

.footer-container {
  position: absolute;
  right: 0;
  bottom: 9px;
  left: 0;
}

.hidden {
  display:none;
}

.shown {
  display:inline-block;
}

.info-icon {
  float: right;
  margin-left: -10px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
}
  .info-icon:hover {
    background-color: #ccc;
  }

.i-icon {
  font-family: 'Courier New', monospace;
  font-weight: 900;
  font-size: 28px;
}

.x-icon {
  font-family: 'Varela Round', sans-serif;
  font-weight: 900;
  font-size: 24px;
}

#project-title-holder {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  line-height:1.45em;
  /*box-sizing: border-box;*/
}

#project-title-more-info {
  font-size: .8em;
  color: #ffc;
  cursor: pointer;
}

.project-title {
  background-color: rgba(0,0,255,0.25);

  border-color: rgba(0,255,0,0);
  border-radius: 12px;
  border-style: solid;
  border-width: 4px;
  border-top-width:1px;

  padding-left: 6px;
  padding-right: 8px;
}

.w3-container {
  color: black;
}
#project-info {
	line-height: initial;
	color: black;
}

div.w3-container {
	text-align: justify;
}

hr {
  border-color: #009;
}

a {
  all: revert;
}

.w3-button {
  font-size: 1.25em;
  margin: 2px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 0 6px;
}
  .w3-button:hover {
    background-color: antiquewhite !important;
  }
.w3-modal-content {
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid rgba(255, 255, 255, 0.0);
  border-radius: 6px;
  top: -100%;
  transition: top 0.4s;
}

  .w3-modal-content.show {
    top: 0;
    opacity: 1;
  }

.w3-modal {
  display: block;
  position: fixed;
  top: -100%;
  opacity: 0;
  transition: opacity 0.4s;
}

  .w3-modal.show-top {
    top: 0;
  }

  .w3-modal.show-opacity {
    opacity: 1;
  }
